<nav class="admin-top">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-top-tab" data-toggle="tab" href="#nav-top" role="tab" aria-controls="nav-top" aria-selected="true">トップ画面</a>
    <a class="nav-item nav-link" id="nav-end-user-tab" data-toggle="tab" href="#nav-end-user" role="tab" aria-controls="nav-end-user" aria-selected="false">エンドユーザー一覧</a>
    <a class="nav-item nav-link" id="nav-quiz-tab" data-toggle="tab" href="#nav-quiz" role="tab" aria-controls="nav-quiz" aria-selected="false">クイズ管理</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-top" role="tabpanel" aria-labelledby="nav-top-tab">
    <h2>ここは管理者トップ画面です。</h2>
    <p>画面上部にあるナビゲーションバーから希望のアクションを選択してください。</p>
  </div>
  <div class="tab-pane fade" id="nav-end-user" role="tabpanel" aria-labelledby="nav-end-user-tab">
    <h2>ユーザー一覧です。</h2>
  </div>
  <div class="tab-pane fade" id="nav-quiz" role="tabpanel" aria-labelledby="nav-quiz-tab">
    <h2>クイズ管理画面です</h2>
  </div>
</div>
<a data-confirm="本当にログアウトしますか？" rel="nofollow" data-method="delete" href="/logout" style="color: #ff4f4f;"><i class="fas fa-sign-out-alt"></i>　ログアウト　</a>
