// Place all the styles related to the admin_users::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//topアクション画面のcss
.admin-top{
  a{
    font: bolder 1.5rem/80px sans-serif;
    margin-right: 50px;
    padding: 0.5rem 1rem;
    color: #0a77ff;
  }
  a:first-child{
    margin-right: auto;
  }
}
#admin-content{
  width: 75%;
  margin: 0 auto;
  h2{
    font-weight: bolder;
    color: #9500af;
    padding-top: 30px;
  }
  table{
    width: 90%;
    margin: 10px 0 0 5%;
  }
}
.end-user-table-head{
  font: bolder 2.1rem sans-serif;
}
.end-user-record{
  font: bolder 2rem sans-serif;
}
#admin-withdraw-button{
  min-width: auto;
}