// Place all the styles related to the admin_users::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//topアクション画面のcss
#nav-tab{
  border: none;
  line-height: 80px;
  justify-content: flex-end;
  &:hover{
    border: none;
  }
}
#nav-top-tab,#nav-end-user-tab,#nav-quiz-tab{
  border: none;
  &:hover{
    border: none;
  }
}
.admin-top{
  a{
    font: bolder 1.5rem/80px sans-serif;
    margin-right: 50px;
    color: #0a77ff;
  }
  a:first-child{
    margin-right: auto;
  }
}
#nav-tabContent{
  width: 75%;
  margin: 0 auto;
}