<div class="talk-room flex">
  <%= render '/shared/left-content' %>
  <div class="center-content">
    <%= render '/shared/center-content', {post: @post, posts: @posts} %>
  </div>
  <div class="right-content">

  </div>
</div>