<% if obj.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li style="font: bolder 1.2rem sans-serif;"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>