<% unless @end_user == current_end_user %>
  <div id= "follow-form">
    <% if current_end_user.following?(@end_user) %>
      <%= render 'unfollow', end_user: @end_user %>
    <% else %>
      <%= render 'follow', end_user: @end_user %>
    <% end %>
  </div>
<% end %>