<header class="flex logo-left">
  <img src="/assets/logo_transparent.png" alt="ロゴ">
  <nav>
    <% if logged_in? %>
      <ul class="header-nav">
        <a href="#">このクイズについて</a><!--ここはid属性をつけてクリックしたら画面の下に飛ぶようにする-->
        <%= link_to 'ログアウト', logout_path, method: :delete %>
      </ul>
    <% else %>
      <ul class="header-nav">
        <a href="#">このサービスについて</a><!--ここはid属性をつけてクリックしたら画面の下に飛ぶようにする-->
        <a href="/login">サインイン</a>
        <a href="/end_users/new">さっそくはじめる</a>
      </ul>
    <% end %>
  </nav>
</header>