<div class="left-content">
  <a href="/"><%= image_tag asset_path("logo_transparent.png", alt: "ロゴ") %></a>
  <a href="/"><i class="fas fa-undo-alt"></i>　トップ　　　</a>
  <a href="/end_users/<%= current_end_user.id %>"><i class="fas fa-users"></i>　アカウント　</a>
  <a href="/favorites"><i class="fas fa-heart"></i>　自分のいいね</a>
  <a data-confirm="本当にログアウトしますか？" rel="nofollow" data-method="delete" href="/logout" style="color: #ff4f4f;"><i class="fas fa-sign-out-alt"></i>　ログアウト　</a>
</div>