// Place all the styles related to the end_users::end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_up_page{
  background-color: #fff8fe;
  height: auto;
  min-height: 100vh;
}
.icon-cover{
  text-align: center;
  padding: 30px 0 20px 0;
  img{
  width: 22rem;
  height: 6.5rem;
  }
}
.title{
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  h1{
    font: 600 4.8rem/46px sans-serif;
  }
  p{
    font: 1.7rem/17px sans-serif;
    margin: 15px 0 20px 0;
    span{
      font-size: 1.7rem;
      font-weight: bolder;
    }
  }
}
.sign_up_form{
  width: 460px;
  height: 450px;
  margin: 0 auto;
  padding-left: 30px;
  padding-top: 41px;
  background-color: white;
  border-radius: 10px;
  p{
    font-size: 15px;
  }
  .form{
    width: 400px;
    height: 44px;
    border-radius: 5px;
    font-size: 20px;
  }
  .form:focus{
    box-shadow: 0px 0px 10px #668AD8;
  }
  .submit-button{
    width: 400px;
    height: 44px;
    font: 500 20px sans-serif;
    color: white;
    margin-top: 20px;
    background-color: #0a77ff;
    border-radius: 5px;
  }
}
.suggest{
  margin-top: 20px;
  text-align: center;
  p {
    font: 1.5rem sans-serif;
    color: #0c0c0c8c;
  }
  a{
    font: 1.5rem sans-serif;
  }
}
.error_messages{
  width: 460px;
  margin: 0 auto;
}

//以下エンドユーザーのshow画面のcss
.center-content{
  padding: 30px 50px 0 50px;
  position: relative;
  a{
    color: black;
  }
}
.profile-image{
  img{
    width: 15rem;
    height: 15rem;
    border: solid 5px #e6e6e6;
    border-radius: 50%;
  }
}
.end-user-name-edit-withdraw{
  justify-content: flex-end;
  margin: 10px 0;
}
.end-user-name{
  font: bolder 2rem sans-serif;
  margin-right: auto;
  margin-bottom: 0;
}
.edit-profile-button, .end-user-withdraw-button{
  font: bolder 12px sans-serif;
  padding: 5px;
  margin-left: 10px;
  border: solid 1.5px #e6e6e6;
  border-radius: 15px;
  &:hover{
    color: black;
    background-color: #e6e6e6;
  }
}
.end-user-withdraw-button:hover{
  color: red;
  background-color: #ffcece;
}
.profile-sentence{
  font: 1.5rem sans-serif;
}
.follow-stats{
  p{
    font: bolder 2rem sans-serif;
    margin-right: 15px;
  }
  span{
    opacity: .5;
    font-size: 1.3rem;
  }
}
.follow-rel-button{
  line-height: 26px;
  position: absolute;
  right: 8%;
  margin-top: 15px;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  font: bolder 15px sans-serif;
  background-color: #e6e6e6;
}
.unfollow-button:hover{
  color: red;
  background-color: #ffd5d5;
}
#end-user-show-posting{
  height: 485px;
  min-height: 485px;
}
.end-user-room-level{
  span{
    font: bolder 1.2rem sans-serif;
    padding: 6px;
    border-radius: 10px;
  }
  .low-level{
    background-color: red;
    box-shadow: 0px 0px 3px red;
  }
  .mid-level{
    background-color: #ffef2a;
    box-shadow: 0px 0px 10px #ffef2a;
  }
  .upper-level{
    background-color: #86c7ff;
    box-shadow: 0px 0px 4px #86c7ff;
  }
  .no-level{
    background-color: #e6e6e6;
    box-shadow: 0px 0px 3px #e6e6e6;
  }
}
#end-user-follow-rel-button-show{
  margin-top: 0;
}
//以下エンドユーザーのedit画面のcss

.edit-account{
  .center-content{
    p{
      font-size: 2rem;
    }
  }
}
.update-submit-button{
  width: 140px;
  height: 40px;
  background-color: #fff;
  font: 500 16px sans-serif;
  border: solid 1.5px #e6e6e6;
  border-radius: 15px;
  &:hover{
    background-color: #e6e6e6;
  }
}
.image-input-btn{
  width: 180px;
  height: 38px;
  line-height: 38px;
  font-size: 1.4rem;
  box-shadow: 0px 0px 4px #a8fb69;
  padding-top: 2px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  background-color: #00d800;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 28px;
  left: 50px;
}
.image-form{
  margin-left: 25px;
}

//following画面のcss
.returen-profile{
  width: 50px;
  height: 50px;
}
.following-center-content{
  min-height: 100vh;
  width: 50%;
  border-left: solid 1px #e2e2e2;
  border-right: solid 1px #e2e2e2;
  h1{
    font: bold 20px sans-serif;
    padding: 30px;
    margin: 0;
    border-bottom: solid 2px #e6e6e6;
  }
  .rel-follow-content{
    padding: 10px;
    &:hover{
      background-color: #f9f9f9;
    }
  }
  .rel-follow-img{
    margin-bottom: 10px;
    img{
      width: 70px;
      height: 70px;
    }
  }
  h2{
    font: bolder 1.7rem sans-serif;
    p{
      font: bolder 1.5rem sans-serif;
      margin: 20px 0 0 10px;
    }
  }
}
.following_followers_view{
  right: 28%;
}
#follow-profile{
  font: 1.5rem sans-serif;
  margin-top: 20px;
}

//followersのcss
#follower-profile{
  font: 1.5rem sans-serif;
  margin-top: 20px;
}