// Place all the styles related to the end_users::end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_up_page{
  background-color: #fff8fe;
  height: auto;
}
.icon-cover{
  text-align: center;
  padding: 30px 0 20px 0;
  img{
  width: 22rem;
  height: 6.5rem;
  }
}
.title{
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  h1{
    font: 600 4.8rem/46px sans-serif;
  }
  p{
    font: 1.7rem/17px sans-serif;
    margin: 15px 0 20px 0;
    span{
      font-size: 1.7rem;
      font-weight: bolder;
    }
  }
}
.sign_up{
  width: 460px;
  height: 450px;
  margin: 0 auto;
  padding-left: 30px;
  padding-top: 41px;
  background-color: white;
  border-radius: 10px;
  p{
    font-size: 15px;
  }
  .form{
    width: 400px;
    height: 44px;
    border-radius: 5px;
    font-size: 20px;
  }
  .form:focus{
    box-shadow: 0px 0px 10px #668AD8;
  }
  .submit-button{
    width: 400px;
    height: 44px;
    font: 500 20px sans-serif;
    color: white;
    margin-top: 20px;
    background-color: #0a77ff;
    border-radius: 5px;
  }
}
.suggest{
  margin-top: 20px;
  text-align: center;
  p {
    font: 1.5rem sans-serif;
    color: #0c0c0c8c;
  }
  a{
    font: 1.5rem sans-serif;
  }
}

.error_messages{
  width: 460px;
  margin: 0 auto;
}