// Place all the styles related to the end_users::quizes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.quiz{
  background-color: #fff8fe;
  min-height: 100vh;
  .flash_in_quiz{
    width: 700px;
    margin: 0 auto;
  }
  .quiz-explanation{
    width: 700px;
    margin: 0 auto;
    h1{
      font: 3rem sans-serif;
      span{
        font: bold 3rem sams-serif;
      }
    }
    p{
      font: 1.5rem sans-serif;
      opacity: .7;
    }
  }
}

.form-radio{
  padding-left: 23px;
}
.quiz-content{
  width: 700px;
  margin: 0 auto;
  .card{
    margin-bottom: 20px;
  }
}
.quiz-question{
  font-size: 1.8rem;
}
.option-item{
  font-size: 1.3rem;
  padding: 0 5px;
}
.quiz-submit{
  width: 150px;
  margin: 0 auto;
  .quiz-submit-button{
    width: 150px;
    height: 44px;
    margin: 0 auto;
    font: 500 16px sans-serif;
    color: white;
    background-color: #0a77ff;
    border-radius: 5px;
  }
}