// Place all the styles related to the end_users::rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-content{
  height: 100vh; //あとで消す
  width: 25%;
  text-align: center;
  a{
    display:  block;
    font: 2.3rem sans-serif;
    margin-top: 40px;
    img{
      width: 20rem;
      margin-top: -20px;
    }
  }
}
.center-content{
  height: 100vh; //あとで消す
  width: 50%;
  border-left: solid 1px #e2e2e2;
  border-right: solid 1px #e2e2e2;
}
.right-content{
  height: 100vh; //あとで消す
  width: 25%;
}