// Place all the styles related to the end_users::serches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//indexのcss
.major-coin-search-result{
  text-align: center;
  font: bolder 2.5rem sans-serif;
}
.major-coin-search-result-count{
  margin-top: 25px;
  text-align: center;
  font: 1.7rem sans-serif;
}